$f-f-primary: "IBM Plex Sans", sans-serif;
$f-f-secondary: "IBM Plex Mono", monospace;
$cl-primary: #060a24;
$cl-visited: #060a2480 ;
$cl-secondary:  #FFFFFF;
$bg-boton: #00F3BB;
$bg-primary: linear-gradient(180deg, #0000FF 15%, #0000A3 85%);
$bg-boton-hover: linear-gradient(90deg, #00F0B8 15%, #0000FE 85%) ; 
$bg-blue: #0000EC;